%base {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

$breakpoints: (
    pc:  "only screen and (min-width: 1366px)", // PC
    tab: "only screen and (max-width: 1365px)",  // タブレット
    sp:  "only screen and (max-width: 414px)",  // スマホ
);

@mixin media($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}
