@import "base";


.ham {
    @include media(pc) {
        display: none;
    };
    @include media(tab) {
        display: inline;
    };
    @include media(sp) {
        display: inline;
    };

    &__menu {
        @include media(pc) {
            display: none;
        };
        @include media(tab) {
            display: inline;
            width: 414px;
        };
        @include media(sp) {
            display: inline;
            width: 320px;
        };

        background: #fff6e6;
        z-index: 4;

        &_close {
            @include media(pc) {
            };
            @include media(tab) {
                margin-top: 20px;
                padding-left: 300px;
            };
            @include media(sp) {
                margin-top: 20px;
                padding-left: 200px;
            };
        }

        &_logo {
            @include media(pc) {
            };
            @include media(tab) {
                width: 414px;
                padding-bottom: 20px;
            };
            @include media(sp) {
                width: 320px;
                padding-bottom: 20px;
            };
        }

        &_element {
            @extend %base;
            width: 220px;
            height: 60px;
            background: white;
            border: #653f36 1px solid;
            border-radius: 9px;
            margin-bottom: 41px;
        }
    }

    &__menu.passive {
        @extend %base;

        position: fixed;
        top: -800px;
    }
    &__menu.active {
        @extend %base;

        top: 0px;
        position: fixed;
        animation   : hamAnime 0.5s linear 1;

        @keyframes hamAnime {
            0% { transform: translateY(-200%)}
          100% { transform: translateY(0%)}
        }
    }
}

main {

    @include media(pc) {
        width: 1366px;
        height: 700px;
        // height: 647px;
    };
    @include media(tab) {
        width: 414px;
        height: 700px;
        // height: 583px;
    };
    @include media(sp) {
        width: 320px;
        height: 700px;
    };

    overflow: hidden;

}
.mainvisual1 {
    position: relative;
    left: 0px;
    top: 0px;

    text-overflow: clip;
    white-space: nowrap;    
    animation   : scrollAnime1 10s ease infinite;


    &_img {
        position: relative;
        z-index: 2;
        object-fit: cover;
        object-position: left;

        @include media(pc) {
            height: 450px;
            width: 570px;
        };
        @include media(tab) {
            top: 200px;
            width: 340px;
        };
        @include media(sp) {
            top: 180px;
            width: 300px;
        };
    
    }
    &_textimg {
        position: relative;
        z-index: 1;
        left: -100px;
        object-fit: cover;
        object-position: left;

        @include media(pc) {
            height: 392px;
            width: 392px;
        };
        @include media(tab) {
            top: 0px;
            left: -320px;
            width: 300px;
        };
        @include media(sp) {
            top: 0px;
            left: -300px;
            width: 300px;
        };

    }
    &_text {
        position: relative;
        z-index: 2;
        writing-mode: vertical-rl;
        object-fit: cover;
        object-position: left;
        height: 420px;
        width: 200px;

        @include media(pc) {
            font-size: 48px;
            left: 500px;
            top: -300px;
        };
        @include media(tab) {
            font-size: 40px;
            left: 0px;
            top: -250px;    
        };
        @include media(sp) {
            font-size: 40px;
            left: -20px;
            top: -250px;    
        };
    }

    @include media(pc) {
        @keyframes scrollAnime1{
            0% { transform: translateX(100%)}
           13% { transform: translateX(100%)}
           25% { transform: translateX(30%)}
           65% { transform: translateX(30%)}
           77% { transform: translateX(-100%)}
          100% { transform: translateX(-100%)}
        }
    };
    @include media(tab) {
        @keyframes scrollAnime1{
            0% { transform: translateX(100%)}
           13% { transform: translateX(100%)}
           25% { transform: translateX(10%)}
           65% { transform: translateX(10%)}
           77% { transform: translateX(-100%)}
          100% { transform: translateX(-100%)}
        }
    };
    @include media(sp) {
        @keyframes scrollAnime1{
            0% { transform: translateX(100%)}
           13% { transform: translateX(100%)}
           25% { transform: translateX(5%)}
           65% { transform: translateX(5%)}
           77% { transform: translateX(-100%)}
          100% { transform: translateX(-100%)}
        }
    };



}

.mainvisual2 {
    position: relative;
    left: 0px;

    text-overflow: clip;
    white-space: nowrap;    
    animation   : scrollAnime2 10s ease infinite;


    &_img {
        position: relative;
        z-index: 2;
        object-fit: cover;
        object-position: left;
        @include media(pc) {
            top: -850px;
            height: 450px;
            width: 570px;
        };
        @include media(tab) {
            top: -530px;
            width: 340px;
        };
        @include media(sp) {
            top: -550px;
            width: 300px;
        };
    }
    &_textimg {
        position: relative;
        z-index: 1;
        object-fit: cover;
        object-position: left;
        @include media(pc) {
            left: -100px;
            top: -900px;
            height: 392px;
            width: 392px;
        };
        @include media(tab) {
            top: -730px;
            left: -330px;
            width: 300px;
        };
        @include media(sp) {
            top: -730px;
            left: -300px;
            width: 300px;
        };
    }
    &_text {
        position: relative;
        z-index: 2;
        writing-mode: vertical-rl;
        object-fit: cover;
        object-position: left;

        @include media(pc) {
            font-size: 48px;
            left: 500px;
            top: -1200px;
            height: 420px;
            width: 200px;
        };
        @include media(tab) {
            font-size: 40px;
            left: 60px;
            top: -980px;    
        };
        @include media(sp) {
            font-size: 40px;
            left: 60px;
            top: -980px;    
        };

    }

    @include media(pc) {
        @keyframes scrollAnime2{
            0% { transform: translateX(30%)}
           12% { transform: translateX(30%)}
           25% { transform: translateX(-100%)}
           26% { transform: translateY( 200%)}
           27% { transform: translate(100%, 200%)}
           28% { transform: translate(100%, 0%)}
           65% { transform: translate(100%, 0%)}
           78% { transform: translateX(30%)}
          100% { transform: translateX(30%)}
        }
    };
    @include media(tab) {
        @keyframes scrollAnime2{
            0% { transform: translateX(10%)}
           12% { transform: translateX(10%)}
           25% { transform: translateX(-100%)}
           26% { transform: translateY( 400%)}
           27% { transform: translate(100%, 200%)}
           28% { transform: translate(100%, 0%)}
           65% { transform: translate(100%, 0%)}
           78% { transform: translateX(10%)}
          100% { transform: translateX(10%)}
        }
    };
    @include media(sp) {
        @keyframes scrollAnime2{
            0% { transform: translateX(5%)}
           12% { transform: translateX(5%)}
           25% { transform: translateX(-100%)}
           26% { transform: translateY( 400%)}
           27% { transform: translate(100%, 200%)}
           28% { transform: translate(100%, 0%)}
           65% { transform: translate(100%, 0%)}
           78% { transform: translateX(5%)}
          100% { transform: translateX(5%)}
        }
    };

}

.logo {
    @include media(pc) {
        width: 316px;
        height: 46px;
        margin-right: 10px;
    };
    @include media(tab) {
        width: 211px;
        height: 31px;
    };
    @include media(sp) {
        width: 140px;
        height: 20px;
    };
}

.contact {
    @include media(pc) {
        margin-left: 20px;
        display: inline;
    };
    @include media(tab) {
        display: none;
    };
    @include media(sp) {
        display: none;
    };

}

.menu {
    &__element {
        @extend %base;
        margin: 10px;
        padding-left: 15px;
        border-left: #653f36 1px solid;
    }

    &__element:last-child {
        padding-right: 10px;
        margin-right: 10px;
        border-right: #653f36 1px solid;
    }

    @include media(pc) {
        display: flex;
    };
    @include media(tab) {
        display: none;
    };
    @include media(sp) {
        display: none;
    };
    
}

.nav {
    display: flex;
}

.footer {
    @extend %base;

    margin: 0px;
    width: 100%;
    background-image: url("./img/footer/background.png");
    background-repeat: no-repeat;
    

    @include media(pc) {
        background-size: 100% 500px;
    
        &__wrap {
            padding-top: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__static {
            display: none;
        }
    };
    @include media(tab) {
        background-size: 100% 700px;
        height: 700px;

        &__spacer {
            @include media(pc) {
                height: 0px;
                display: none;
            };
            @include media(tab) {
                height: 64px;
            };
            @include media(sp) {
                height: 64px;
            };
    
        }

        &__static {
            height: 64px;
            width: 414px;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            bottom: 0px;
            &_element {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 33%;
            }
        }

        &__wrap {
            display: flex;
            flex-direction: column;
            margin-top: auto;
        }
    };
    @include media(sp) {
        background-size: 100% 600px;
        height: 600px;

        &__spacer {
            height: 64px;
        }
        &__static {
            height: 64px;
            width: 320px;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            bottom: 0px;

            &_element {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 33%;
                font-size: 0.9em;
            }
        }
        &__wrap {
            display: flex;
            flex-direction: column;
            margin-top: auto;
        }

    };

    &__logo {
        border-bottom: dashed 1px #653f36;
        padding-bottom: 5px;
        margin-bottom: 5px;
        @include media(pc) {
            width: 360px;
        };
        @include media(tab) {
            width: 360px;
        };
        @include media(sp) {
            width: 280px;
        };
    
    }

    &__schedule {
        @include media(pc) {
        };
        @include media(tab) {
            display: none;
        };
        @include media(sp) {
            display: none;
        };
    }

    &__contact {
        display: flex;
    }
    &__mail {
        margin-top: 10px;
        &_span {
            border-radius: 5px;
            padding: 10px;
            border: 1px solid #a33143;
            background: white;
            color: #a33143;
            @include media(pc) {
                font-size: 0.8em;
            };
            @include media(tab) {
                font-size: 0.8em;
            };
            @include media(sp) {
                font-size: 0.7em;
            };    
        }
    }
    &__tel {
        margin-left: 10px;
        &_number {
            font-size: 1.2em;
        }
        &_time {
            font-size: 0.6em;
        }
    }

    &__iframe {
        margin-left: 10px;
        @include media(pc) {
            width: 350px;
            height: 250px;
        };
        @include media(tab) {
            width: 350px;
            height: 250px;
        };
        @include media(sp) {
            width: 280px;
            height: 200px;
        };
    }

    &__addresswrap {
        @include media(pc) {
            display: flex;
        };
        @include media(tab) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        };
        @include media(sp) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        };


    }

    &__address {
        font-size: 0.7em;
    }

    &__googlemap {
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid #a33143;
        background: white;
        color: #a33143;
        @include media(pc) {
            font-size: 0.7em;
            padding-left: 25px;
            padding-right: 25px;
            margin-left: 10px;
        };
        @include media(tab) {
            font-size: 0.6em;
            padding-left: 25px;
            padding-right: 25px;    
            margin-left: 10px;
        };
        @include media(sp) {
            font-size: 0.5em;
            padding-left: 15px;
            padding-right: 15px;    
            margin-left: 5px;
        };    

    }

    &__privacypolicy {
        padding-top: 20px;
        position: relative;
        bottom: 0px;

        &_contact {
            border-right: #653f36 1px solid;
            padding-right: 10px;
            margin-right: 10px;
        }
    }
    &__copyright {
        @extend %base;
        position: relative;
        width: 100%;
        background: #653f36;
        color: white;
        bottom: 0px;

    }
}
table {
    border: solid 1px #653f36;
    border-collapse: collapse;
}
th {
    background: #653f36;
    color: white;
    border: solid 1px #653f36;
    border-collapse: collapse;
    font-size: 0.8em;
    font-weight: 100;
}
td {
    border: solid 1px #653f36;
    border-collapse: collapse;
    background: white;
    padding: 10px;
}

.article {
    @include media(pc) {
        width: 1366px;
    };
    @include media(tab) {
        width: 414px;
    };
    @include media(sp) {
        width: 320px;
    };

    &__h2 {
        @extend %base;

        @include media(pc) {
            width: 1366px;
            font-size: 25px;
        };
        @include media(tab) {
            width: 414px;
            font-size: 1.2em;
        };
        @include media(sp) {
            width: 320px;
            font-size: 1.1em;
        };

        &_span {
            border-bottom: dashed 1px #653f36;

        }
    
        color: #653f36;
    }
    &__section {
        &_h3 {
            color: #653f36;
            font-size: 25px;
        }
        &_p {
            width: 300px;
            height: 200px;
        }
        &_text1 {
            position: relative;

            @include media(pc) {
                left: 0px;
                top: -300px;
            };
            @include media(tab) {
                left: -200px;
                top: -300px;
                width: 350px;
            };
            @include media(sp) {
                left: -320px;
                top: -300px;
                width: 260px;
            };
    
        }
        &_text2 {
            position: relative;

            @include media(pc) {
                left: 0px;
                top: -300px;
            };
            @include media(tab) {
                left: -200px;
                top: -300px;
                width: 350px;
            };
            @include media(sp) {
                left: 320px;
                top: -300px;
                width: 280px;
            };


        }
        &_text3 {
            position: relative;

            @include media(pc) {
                left: 0px;
                top: -300px;
            };
            @include media(tab) {
                left: 0px;
                top: -300px;
                width: 350px;
            };
            @include media(sp) {
                left: -320px;
                top: -300px;
                width: 280px;
            };

        }
        &_text4 {
            position: relative;

            @include media(pc) {
                left: 0px;
                top: -300px;
                };
            @include media(tab) {
                left: 0px;
                top: -300px;
                width: 350px;
            };
            @include media(sp) {
                left: 320px;
                top: -300px;
                width: 280px;
            };

        }

        &_img1 {
            position: relative;
            @include media(pc) {
                left: -330px;
            };
            @include media(tab) {
                left: -330px;
                top: 200px;
                width: 310px;
            };
            @include media(sp) {
                left: -320px;
                top: 200px;
                width: 280px;
            };
        }
        &_img2 {
            position: relative;

            @include media(pc) {
                left: 1366px;
            };
            @include media(tab) {
                left: 414px;
                top: 200px;
                width: 310px;
            };
            @include media(sp) {
                left: 320px;
                top: 200px;
                width: 280px;
            };
        }
        &_img3 {
            position: relative;
            @include media(pc) {
                left: -330px;
            };
            @include media(tab) {
                left: 0px;
                top: 200px;
                width: 310px;
            };
            @include media(sp) {
                left: -320px;
                top: 200px;
                width: 280px;
            };
        }
        &_img4 {
            position: relative;
            @include media(pc) {
                left: 1366px;
            };
            @include media(tab) {
                left: 414px;
                top: 200px;
                width: 310px;
            };
            @include media(sp) {
                left: 320px;
                top: 200px;
                width: 280px;
            };


        }
    }

    &__section1 {
        @include media(pc) {
            width: 1366px;
            height: 500px;
        };
        @include media(tab) {
            width: 414px;
        };
        @include media(sp) {
            width: 320px;
        };
        overflow: hidden;
        object-fit: cover;
        object-position: left;
    }
    &__section2 {
        @include media(pc) {
            width: 1366px;
            height: 500px;
        };
        @include media(tab) {
            width: 414px;
        };
        @include media(sp) {
            width: 320px;
        };
        overflow: hidden;
        object-fit: cover;
        object-position: right;
    }
    &__section3 {
        @include media(pc) {
            width: 1366px;
            height: 500px;
        };
        @include media(tab) {
            width: 414px;
        };
        @include media(sp) {
            width: 320px;
        };
        overflow: hidden;
        object-fit: cover;
        object-position: left;
    }

    &__section4 {
        @include media(pc) {
            width: 1366px;
            height: 500px;
        };
        @include media(tab) {
            width: 414px;
        };
        @include media(sp) {
            width: 320px;
        };
        overflow: hidden;
        object-fit: cover;
        object-position: right;
    }

    &__news {
        &_ul {
            @extend %base;
            @include media(pc) {
                width: 1366px;
                padding: 0px;
            };
            @include media(tab) {
                width: 414px;
                padding: 0px;
            };
            @include media(sp) {
                width: 320px;
                padding: 0px;
            };
            list-style: none;                
        }
        &_li {
            border-top: #fff6e6 1px solid;

            @include media(pc) {
                width: 722px;
                padding: 20px;
            };
            @include media(tab) {
                width: 380px;
                padding: 20px;
            };
            @include media(sp) {
                width: 280px;
                padding: 20px;
            };

        }
        &_h3 {
            color: #653f36;
            @include media(pc) {
                font-size: 1.6em;
            };
            @include media(tab) {
                font-size: 1.5em;
            };
            @include media(sp) {
                font-size: 1.15em;
            };

        }
        &_span {
            @include media(pc) {
            };
            @include media(tab) {
                display: none;
            };
            @include media(sp) {
                display: none;
            };
        }
        &_div {
            @include media(pc) {
            };
            @include media(tab) {
                font-size: 0.9em;
            };
            @include media(sp) {
                font-size: 0.8em;
            };
        }
    }
}

.header {
    @extend %base;
    margin: 0px;
    width: 100%;
    background-image: url("./img/header/background.png");
    background-repeat: no-repeat;
    background-size: 100% 710px;


    &__mail {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #a33143;
        background: white;
        color: #a33143;
        @include media(pc) {
            font-size: 0.8em;
        };
        @include media(tab) {
            font-size: 0.8em;
        };
        @include media(sp) {
            font-size: 0.7em;
        };
    }
    &__tel {
        margin-top:5px;
        font-size: 1.2em;
        letter-spacing: 0.2em;

        &_img {
            margin-right: 5px;
        }
    }
    // @include media(pc) {
    //     width: 1366px;
    //     background-image: url("./img/header/background.png");
    // };
    // @include media(tab) {
    //     width: 414px;
    //     background-image: url("./img/sp/background.png");
    // };
    // @include media(sp) {
    //     width: 320px;
    //     background-image: url("./img/sp/background.png");
    // };
}

body {
    @extend %base;
    margin: 0px;
    width: 100%;

    @include media(pc) {
      background-color: white;
    };
    @include media(tab) {
      background-color: white;
    };
    @include media(sp) {
      background-color: white;
    };
}