.ham__menu_element, .ham__menu.passive, .ham__menu.active, .menu__element, .footer, .footer__copyright, .article__h2, .article__news_ul, .header, body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1366px) {
  .ham {
    display: none;
  }
}

@media only screen and (max-width: 1365px) {
  .ham {
    position: relative;
    right: -40px;
    display: inline;
  }
}

@media only screen and (max-width: 414px) {
  .ham {
    position: relative;
    right: -40px;
    display: inline;
  }
}

.ham__menu {
  background: #fff6e6;
  z-index: 4;
}

@media only screen and (min-width: 1366px) {
  .ham__menu {
    display: none;
  }
}

@media only screen and (max-width: 1365px) {
  .ham__menu {
    display: inline;
    width: 414px;
  }
}

@media only screen and (max-width: 414px) {
  .ham__menu {
    display: inline;
    width: 320px;
  }
}

@media only screen and (max-width: 1365px) {
  .ham__menu_close {
    margin-top: 20px;
    padding-left: 300px;
  }
}

@media only screen and (max-width: 414px) {
  .ham__menu_close {
    margin-top: 20px;
    padding-left: 200px;
  }
}

@media only screen and (max-width: 1365px) {
  .ham__menu_logo {
    width: 414px;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 414px) {
  .ham__menu_logo {
    width: 320px;
    padding-bottom: 20px;
  }
}

.ham__menu_element {
  width: 220px;
  height: 60px;
  background: white;
  border: #653f36 1px solid;
  border-radius: 9px;
  margin-bottom: 41px;
}

.ham__menu.passive {
  position: fixed;
  top: -800px;
}

.ham__menu.active {
  top: 0px;
  position: fixed;
  -webkit-animation: hamAnime 0.5s linear 1;
          animation: hamAnime 0.5s linear 1;
}

@-webkit-keyframes hamAnime {
  0% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes hamAnime {
  0% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

main {
  overflow: hidden;
}

@media only screen and (min-width: 1366px) {
  main {
    width: 1366px;
    height: 700px;
  }
}

@media only screen and (max-width: 1365px) {
  main {
    width: 414px;
    height: 700px;
  }
}

@media only screen and (max-width: 414px) {
  main {
    width: 320px;
    height: 700px;
  }
}

.mainvisual1 {
  position: relative;
  left: 0px;
  top: 0px;
  text-overflow: clip;
  white-space: nowrap;
  -webkit-animation: scrollAnime1 10s ease infinite;
          animation: scrollAnime1 10s ease infinite;
}

.mainvisual1_img {
  position: relative;
  z-index: 2;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

@media only screen and (min-width: 1366px) {
  .mainvisual1_img {
    height: 450px;
    width: 570px;
  }
}

@media only screen and (max-width: 1365px) {
  .mainvisual1_img {
    top: 200px;
    width: 340px;
  }
}

@media only screen and (max-width: 414px) {
  .mainvisual1_img {
    top: 180px;
    width: 300px;
  }
}

.mainvisual1_textimg {
  position: relative;
  z-index: 1;
  left: -100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

@media only screen and (min-width: 1366px) {
  .mainvisual1_textimg {
    height: 392px;
    width: 392px;
  }
}

@media only screen and (max-width: 1365px) {
  .mainvisual1_textimg {
    top: 0px;
    left: -320px;
    width: 300px;
  }
}

@media only screen and (max-width: 414px) {
  .mainvisual1_textimg {
    top: 0px;
    left: -300px;
    width: 300px;
  }
}

.mainvisual1_text {
  position: relative;
  z-index: 2;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  height: 420px;
  width: 200px;
  font-family: HannariMincho;
}

@media only screen and (min-width: 1366px) {
  .mainvisual1_text {
    font-size: 48px;
    left: 500px;
    top: -300px;
  }
}

@media only screen and (max-width: 1365px) {
  .mainvisual1_text {
    font-size: 30px;
    letter-spacing: 10px;
    left: -10px;
    top: -250px;
  }
}

@media only screen and (max-width: 414px) {
  .mainvisual1_text {
    font-size: 28px;
    letter-spacing: 10px;
    left: -30px;
    top: -250px;
  }
}

.mainvisual1_text_span {
  padding-top: 20px;
}

@media only screen and (min-width: 1366px) {
  @-webkit-keyframes scrollAnime1 {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    13% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    25% {
      -webkit-transform: translateX(30%);
              transform: translateX(30%);
    }
    65% {
      -webkit-transform: translateX(30%);
              transform: translateX(30%);
    }
    77% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  @keyframes scrollAnime1 {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    13% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    25% {
      -webkit-transform: translateX(30%);
              transform: translateX(30%);
    }
    65% {
      -webkit-transform: translateX(30%);
              transform: translateX(30%);
    }
    77% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
}

@media only screen and (max-width: 1365px) {
  @-webkit-keyframes scrollAnime1 {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    13% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    25% {
      -webkit-transform: translateX(10%);
              transform: translateX(10%);
    }
    65% {
      -webkit-transform: translateX(10%);
              transform: translateX(10%);
    }
    77% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  @keyframes scrollAnime1 {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    13% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    25% {
      -webkit-transform: translateX(10%);
              transform: translateX(10%);
    }
    65% {
      -webkit-transform: translateX(10%);
              transform: translateX(10%);
    }
    77% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
}

@media only screen and (max-width: 414px) {
  @-webkit-keyframes scrollAnime1 {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    13% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    25% {
      -webkit-transform: translateX(5%);
              transform: translateX(5%);
    }
    65% {
      -webkit-transform: translateX(5%);
              transform: translateX(5%);
    }
    77% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  @keyframes scrollAnime1 {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    13% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    25% {
      -webkit-transform: translateX(5%);
              transform: translateX(5%);
    }
    65% {
      -webkit-transform: translateX(5%);
              transform: translateX(5%);
    }
    77% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
}

.mainvisual2 {
  position: relative;
  left: 0px;
  text-overflow: clip;
  white-space: nowrap;
  -webkit-animation: scrollAnime2 10s ease infinite;
          animation: scrollAnime2 10s ease infinite;
}

.mainvisual2_img {
  position: relative;
  z-index: 2;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

@media only screen and (min-width: 1366px) {
  .mainvisual2_img {
    top: -850px;
    height: 450px;
    width: 570px;
  }
}

@media only screen and (max-width: 1365px) {
  .mainvisual2_img {
    top: -530px;
    width: 340px;
  }
}

@media only screen and (max-width: 414px) {
  .mainvisual2_img {
    top: -550px;
    width: 300px;
  }
}

.mainvisual2_textimg {
  position: relative;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

@media only screen and (min-width: 1366px) {
  .mainvisual2_textimg {
    left: -100px;
    top: -900px;
    height: 392px;
    width: 392px;
  }
}

@media only screen and (max-width: 1365px) {
  .mainvisual2_textimg {
    top: -730px;
    left: -330px;
    width: 300px;
  }
}

@media only screen and (max-width: 414px) {
  .mainvisual2_textimg {
    top: -730px;
    left: -300px;
    width: 300px;
  }
}

.mainvisual2_text {
  position: relative;
  z-index: 2;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

@media only screen and (min-width: 1366px) {
  .mainvisual2_text {
    font-size: 48px;
    left: 500px;
    top: -1200px;
    height: 420px;
    width: 200px;
  }
}

@media only screen and (max-width: 1365px) {
  .mainvisual2_text {
    font-size: 30px;
    letter-spacing: 10px;
    left: 90px;
    top: -980px;
  }
}

@media only screen and (max-width: 414px) {
  .mainvisual2_text {
    font-size: 28px;
    letter-spacing: 10px;
    left: 90px;
    top: -980px;
  }
}

.mainvisual2_text_span {
  padding-top: 20px;
}

@media only screen and (min-width: 1366px) {
  @-webkit-keyframes scrollAnime2 {
    0% {
      -webkit-transform: translateX(30%);
              transform: translateX(30%);
    }
    12% {
      -webkit-transform: translateX(30%);
              transform: translateX(30%);
    }
    25% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    26% {
      -webkit-transform: translateY(200%);
              transform: translateY(200%);
    }
    27% {
      -webkit-transform: translate(100%, 200%);
              transform: translate(100%, 200%);
    }
    28% {
      -webkit-transform: translate(100%, 0%);
              transform: translate(100%, 0%);
    }
    65% {
      -webkit-transform: translate(100%, 0%);
              transform: translate(100%, 0%);
    }
    78% {
      -webkit-transform: translateX(30%);
              transform: translateX(30%);
    }
    100% {
      -webkit-transform: translateX(30%);
              transform: translateX(30%);
    }
  }
  @keyframes scrollAnime2 {
    0% {
      -webkit-transform: translateX(30%);
              transform: translateX(30%);
    }
    12% {
      -webkit-transform: translateX(30%);
              transform: translateX(30%);
    }
    25% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    26% {
      -webkit-transform: translateY(200%);
              transform: translateY(200%);
    }
    27% {
      -webkit-transform: translate(100%, 200%);
              transform: translate(100%, 200%);
    }
    28% {
      -webkit-transform: translate(100%, 0%);
              transform: translate(100%, 0%);
    }
    65% {
      -webkit-transform: translate(100%, 0%);
              transform: translate(100%, 0%);
    }
    78% {
      -webkit-transform: translateX(30%);
              transform: translateX(30%);
    }
    100% {
      -webkit-transform: translateX(30%);
              transform: translateX(30%);
    }
  }
}

@media only screen and (max-width: 1365px) {
  @-webkit-keyframes scrollAnime2 {
    0% {
      -webkit-transform: translateX(10%);
              transform: translateX(10%);
    }
    12% {
      -webkit-transform: translateX(10%);
              transform: translateX(10%);
    }
    25% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    26% {
      -webkit-transform: translateY(400%);
              transform: translateY(400%);
    }
    27% {
      -webkit-transform: translate(100%, 200%);
              transform: translate(100%, 200%);
    }
    28% {
      -webkit-transform: translate(100%, 0%);
              transform: translate(100%, 0%);
    }
    65% {
      -webkit-transform: translate(100%, 0%);
              transform: translate(100%, 0%);
    }
    78% {
      -webkit-transform: translateX(10%);
              transform: translateX(10%);
    }
    100% {
      -webkit-transform: translateX(10%);
              transform: translateX(10%);
    }
  }
  @keyframes scrollAnime2 {
    0% {
      -webkit-transform: translateX(10%);
              transform: translateX(10%);
    }
    12% {
      -webkit-transform: translateX(10%);
              transform: translateX(10%);
    }
    25% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    26% {
      -webkit-transform: translateY(400%);
              transform: translateY(400%);
    }
    27% {
      -webkit-transform: translate(100%, 200%);
              transform: translate(100%, 200%);
    }
    28% {
      -webkit-transform: translate(100%, 0%);
              transform: translate(100%, 0%);
    }
    65% {
      -webkit-transform: translate(100%, 0%);
              transform: translate(100%, 0%);
    }
    78% {
      -webkit-transform: translateX(10%);
              transform: translateX(10%);
    }
    100% {
      -webkit-transform: translateX(10%);
              transform: translateX(10%);
    }
  }
}

@media only screen and (max-width: 414px) {
  @-webkit-keyframes scrollAnime2 {
    0% {
      -webkit-transform: translateX(5%);
              transform: translateX(5%);
    }
    12% {
      -webkit-transform: translateX(5%);
              transform: translateX(5%);
    }
    25% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    26% {
      -webkit-transform: translateY(400%);
              transform: translateY(400%);
    }
    27% {
      -webkit-transform: translate(100%, 200%);
              transform: translate(100%, 200%);
    }
    28% {
      -webkit-transform: translate(100%, 0%);
              transform: translate(100%, 0%);
    }
    65% {
      -webkit-transform: translate(100%, 0%);
              transform: translate(100%, 0%);
    }
    78% {
      -webkit-transform: translateX(5%);
              transform: translateX(5%);
    }
    100% {
      -webkit-transform: translateX(5%);
              transform: translateX(5%);
    }
  }
  @keyframes scrollAnime2 {
    0% {
      -webkit-transform: translateX(5%);
              transform: translateX(5%);
    }
    12% {
      -webkit-transform: translateX(5%);
              transform: translateX(5%);
    }
    25% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    26% {
      -webkit-transform: translateY(400%);
              transform: translateY(400%);
    }
    27% {
      -webkit-transform: translate(100%, 200%);
              transform: translate(100%, 200%);
    }
    28% {
      -webkit-transform: translate(100%, 0%);
              transform: translate(100%, 0%);
    }
    65% {
      -webkit-transform: translate(100%, 0%);
              transform: translate(100%, 0%);
    }
    78% {
      -webkit-transform: translateX(5%);
              transform: translateX(5%);
    }
    100% {
      -webkit-transform: translateX(5%);
              transform: translateX(5%);
    }
  }
}

@media only screen and (min-width: 1366px) {
  .logo {
    width: 316px;
    height: 46px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 1365px) {
  .logo {
    width: 211px;
    height: 31px;
  }
}

@media only screen and (max-width: 414px) {
  .logo {
    width: 140px;
    height: 20px;
  }
}

@media only screen and (min-width: 1366px) {
  .contact {
    margin-left: 20px;
    display: inline;
  }
}

@media only screen and (max-width: 1365px) {
  .contact {
    display: none;
  }
}

@media only screen and (max-width: 414px) {
  .contact {
    display: none;
  }
}

.menu__element {
  margin: 10px;
  padding-left: 15px;
  border-left: #653f36 1px solid;
}

.menu__element:last-child {
  padding-right: 10px;
  margin-right: 10px;
  border-right: #653f36 1px solid;
}

@media only screen and (min-width: 1366px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 1365px) {
  .menu {
    display: none;
  }
}

@media only screen and (max-width: 414px) {
  .menu {
    display: none;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  margin: 0px;
  width: 100%;
  background-image: url("./img/footer/background.png");
  background-repeat: no-repeat;
}

@media only screen and (min-width: 1366px) {
  .footer {
    background-size: 100% 500px;
  }
  .footer__wrap {
    padding-top: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__static {
    display: none;
  }
}

@media only screen and (max-width: 1365px) {
  .footer {
    background-size: 100% 700px;
    height: 700px;
  }
}

@media only screen and (max-width: 1365px) and (min-width: 1366px) {
  .footer__spacer {
    height: 0px;
    display: none;
  }
}

@media only screen and (max-width: 1365px) and (max-width: 1365px) {
  .footer__spacer {
    height: 64px;
  }
}

@media only screen and (max-width: 1365px) and (max-width: 414px) {
  .footer__spacer {
    height: 64px;
  }
}

@media only screen and (max-width: 1365px) {
  .footer__static {
    height: 64px;
    width: 414px;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    bottom: 0px;
  }
  .footer__static_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 64px;
    background: white;
    position: fixed;
    bottom: 0px;
  }
  .footer__static_element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 33%;
  }
  .footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: auto;
  }
}

@media only screen and (max-width: 414px) {
  .footer {
    background-size: 100% 600px;
    height: 600px;
  }
  .footer__spacer {
    height: 64px;
  }
  .footer__static {
    height: 64px;
    width: 320px;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    bottom: 0px;
  }
  .footer__static_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 64px;
    background: white;
    position: fixed;
    bottom: 0px;
  }
  .footer__static_element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 33%;
    font-size: 0.9em;
  }
  .footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: auto;
  }
}

.footer__logo {
  border-bottom: dashed 1px #653f36;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

@media only screen and (min-width: 1366px) {
  .footer__logo {
    width: 360px;
  }
}

@media only screen and (max-width: 1365px) {
  .footer__logo {
    width: 360px;
  }
}

@media only screen and (max-width: 414px) {
  .footer__logo {
    width: 280px;
  }
}

@media only screen and (max-width: 1365px) {
  .footer__schedule {
    display: none;
  }
}

@media only screen and (max-width: 414px) {
  .footer__schedule {
    display: none;
  }
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__mail {
  margin-top: 10px;
}

.footer__mail_span {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #a33143;
  background: white;
  color: #a33143;
}

@media only screen and (min-width: 1366px) {
  .footer__mail_span {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 1365px) {
  .footer__mail_span {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 414px) {
  .footer__mail_span {
    font-size: 0.7em;
  }
}

.footer__tel {
  margin-left: 10px;
}

.footer__tel_number {
  font-size: 1.2em;
}

.footer__tel_time {
  font-size: 0.6em;
}

.footer__iframe {
  margin-left: 10px;
}

@media only screen and (min-width: 1366px) {
  .footer__iframe {
    width: 350px;
    height: 250px;
  }
}

@media only screen and (max-width: 1365px) {
  .footer__iframe {
    width: 350px;
    height: 250px;
  }
}

@media only screen and (max-width: 414px) {
  .footer__iframe {
    width: 280px;
    height: 200px;
  }
}

@media only screen and (min-width: 1366px) {
  .footer__addresswrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 1365px) {
  .footer__addresswrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 414px) {
  .footer__addresswrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__address {
  font-size: 0.7em;
}

.footer__googlemap {
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #a33143;
  background: white;
  color: #a33143;
}

@media only screen and (min-width: 1366px) {
  .footer__googlemap {
    font-size: 0.7em;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 1365px) {
  .footer__googlemap {
    font-size: 0.6em;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 414px) {
  .footer__googlemap {
    font-size: 0.5em;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5px;
  }
}

.footer__privacypolicy {
  padding-top: 20px;
  position: relative;
  bottom: 0px;
}

.footer__privacypolicy_contact {
  border-right: #653f36 1px solid;
  padding-right: 10px;
  margin-right: 10px;
}

.footer__copyright {
  position: relative;
  width: 100%;
  background: #653f36;
  color: white;
  bottom: 0px;
}

table {
  border: solid 1px #653f36;
  border-collapse: collapse;
}

th {
  background: #653f36;
  color: white;
  border: solid 1px #653f36;
  border-collapse: collapse;
  font-size: 0.8em;
  font-weight: 100;
}

td {
  border: solid 1px #653f36;
  border-collapse: collapse;
  background: white;
  padding: 10px;
}

@media only screen and (min-width: 1366px) {
  .article {
    width: 1366px;
  }
}

@media only screen and (max-width: 1365px) {
  .article {
    width: 414px;
  }
}

@media only screen and (max-width: 414px) {
  .article {
    width: 320px;
  }
}

.article__h2 {
  color: #653f36;
}

@media only screen and (min-width: 1366px) {
  .article__h2 {
    width: 1366px;
    font-size: 25px;
  }
}

@media only screen and (max-width: 1365px) {
  .article__h2 {
    width: 414px;
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 414px) {
  .article__h2 {
    width: 320px;
    font-size: 1.1em;
  }
}

.article__h2_span {
  border-bottom: dashed 1px #653f36;
}

.article__section_h3 {
  color: #653f36;
  font-size: 25px;
}

.article__section_p {
  width: 300px;
  height: 200px;
}

.article__section_text1 {
  position: relative;
}

@media only screen and (min-width: 1366px) {
  .article__section_text1 {
    left: 0px;
    top: -300px;
  }
}

@media only screen and (max-width: 1365px) {
  .article__section_text1 {
    left: -1200px;
    top: -300px;
    width: 350px;
  }
}

@media only screen and (max-width: 414px) {
  .article__section_text1 {
    left: -320px;
    top: -300px;
    width: 260px;
  }
}

.article__section_text2 {
  position: relative;
}

@media only screen and (min-width: 1366px) {
  .article__section_text2 {
    left: 0px;
    top: -300px;
  }
}

@media only screen and (max-width: 1365px) {
  .article__section_text2 {
    left: 1200px;
    top: -300px;
    width: 350px;
  }
}

@media only screen and (max-width: 414px) {
  .article__section_text2 {
    left: 320px;
    top: -300px;
    width: 280px;
  }
}

.article__section_text3 {
  position: relative;
}

@media only screen and (min-width: 1366px) {
  .article__section_text3 {
    left: 0px;
    top: -300px;
  }
}

@media only screen and (max-width: 1365px) {
  .article__section_text3 {
    left: -1000px;
    top: -300px;
    width: 350px;
  }
}

@media only screen and (max-width: 414px) {
  .article__section_text3 {
    left: -320px;
    top: -300px;
    width: 280px;
  }
}

.article__section_text4 {
  position: relative;
}

@media only screen and (min-width: 1366px) {
  .article__section_text4 {
    left: 0px;
    top: -300px;
  }
}

@media only screen and (max-width: 1365px) {
  .article__section_text4 {
    left: 0px;
    top: -300px;
    width: 350px;
  }
}

@media only screen and (max-width: 414px) {
  .article__section_text4 {
    left: 320px;
    top: -300px;
    width: 280px;
  }
}

.article__section_img1 {
  position: relative;
}

@media only screen and (min-width: 1366px) {
  .article__section_img1 {
    left: -330px;
  }
}

@media only screen and (max-width: 1365px) {
  .article__section_img1 {
    left: -330px;
    top: 200px;
    width: 310px;
  }
}

@media only screen and (max-width: 414px) {
  .article__section_img1 {
    left: -320px;
    top: 200px;
    width: 280px;
  }
}

.article__section_img2 {
  position: relative;
}

@media only screen and (min-width: 1366px) {
  .article__section_img2 {
    left: 1366px;
  }
}

@media only screen and (max-width: 1365px) {
  .article__section_img2 {
    left: 414px;
    top: 200px;
    width: 310px;
  }
}

@media only screen and (max-width: 414px) {
  .article__section_img2 {
    left: 320px;
    top: 200px;
    width: 280px;
  }
}

.article__section_img3 {
  position: relative;
}

@media only screen and (min-width: 1366px) {
  .article__section_img3 {
    left: -330px;
  }
}

@media only screen and (max-width: 1365px) {
  .article__section_img3 {
    left: 0px;
    top: 200px;
    width: 310px;
  }
}

@media only screen and (max-width: 414px) {
  .article__section_img3 {
    left: -320px;
    top: 200px;
    width: 280px;
  }
}

.article__section_img4 {
  position: relative;
}

@media only screen and (min-width: 1366px) {
  .article__section_img4 {
    left: 1366px;
  }
}

@media only screen and (max-width: 1365px) {
  .article__section_img4 {
    left: 414px;
    top: 200px;
    width: 310px;
  }
}

@media only screen and (max-width: 414px) {
  .article__section_img4 {
    left: 320px;
    top: 200px;
    width: 280px;
  }
}

.article__section1 {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

@media only screen and (min-width: 1366px) {
  .article__section1 {
    width: 1366px;
    height: 500px;
  }
}

@media only screen and (max-width: 1365px) {
  .article__section1 {
    width: 414px;
  }
}

@media only screen and (max-width: 414px) {
  .article__section1 {
    width: 320px;
  }
}

.article__section2 {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

@media only screen and (min-width: 1366px) {
  .article__section2 {
    width: 1366px;
    height: 500px;
  }
}

@media only screen and (max-width: 1365px) {
  .article__section2 {
    width: 414px;
  }
}

@media only screen and (max-width: 414px) {
  .article__section2 {
    width: 320px;
  }
}

.article__section3 {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

@media only screen and (min-width: 1366px) {
  .article__section3 {
    width: 1366px;
    height: 500px;
  }
}

@media only screen and (max-width: 1365px) {
  .article__section3 {
    width: 414px;
  }
}

@media only screen and (max-width: 414px) {
  .article__section3 {
    width: 320px;
  }
}

.article__section4 {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

@media only screen and (min-width: 1366px) {
  .article__section4 {
    width: 1366px;
    height: 500px;
  }
}

@media only screen and (max-width: 1365px) {
  .article__section4 {
    width: 414px;
  }
}

@media only screen and (max-width: 414px) {
  .article__section4 {
    width: 320px;
  }
}

.article__news_ul {
  list-style: none;
}

@media only screen and (min-width: 1366px) {
  .article__news_ul {
    width: 1366px;
    padding: 0px;
  }
}

@media only screen and (max-width: 1365px) {
  .article__news_ul {
    width: 414px;
    padding: 0px;
  }
}

@media only screen and (max-width: 414px) {
  .article__news_ul {
    width: 320px;
    padding: 0px;
  }
}

.article__news_li {
  border-top: #fff6e6 1px solid;
}

@media only screen and (min-width: 1366px) {
  .article__news_li {
    width: 722px;
    padding: 20px;
  }
}

@media only screen and (max-width: 1365px) {
  .article__news_li {
    width: 380px;
    padding: 20px;
  }
}

@media only screen and (max-width: 414px) {
  .article__news_li {
    width: 280px;
    padding: 20px;
  }
}

.article__news_h3 {
  color: #653f36;
}

@media only screen and (min-width: 1366px) {
  .article__news_h3 {
    font-size: 1.6em;
  }
}

@media only screen and (max-width: 1365px) {
  .article__news_h3 {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 414px) {
  .article__news_h3 {
    font-size: 1.15em;
  }
}

@media only screen and (max-width: 1365px) {
  .article__news_span {
    display: none;
  }
}

@media only screen and (max-width: 414px) {
  .article__news_span {
    display: none;
  }
}

@media only screen and (max-width: 1365px) {
  .article__news_div {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 414px) {
  .article__news_div {
    font-size: 0.8em;
  }
}

.header {
  margin: 0px;
  width: 100%;
  background-image: url("./img/header/background.png");
  background-repeat: no-repeat;
  background-size: 100% 710px;
}

.header__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #a33143;
  background: white;
  color: #a33143;
}

@media only screen and (min-width: 1366px) {
  .header__mail {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 1365px) {
  .header__mail {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 414px) {
  .header__mail {
    font-size: 0.7em;
  }
}

.header__tel {
  margin-top: 5px;
  font-size: 1.2em;
  letter-spacing: 0.2em;
}

.header__tel_img {
  margin-right: 5px;
}

body {
  margin: 0px;
  width: 100%;
}

@media only screen and (min-width: 1366px) {
  body {
    background-color: white;
  }
}

@media only screen and (max-width: 1365px) {
  body {
    background-color: white;
  }
}

@media only screen and (max-width: 414px) {
  body {
    background-color: white;
  }
}
/*# sourceMappingURL=style.css.map */