@import "base";


.ham {
    @include media(pc) {
        display: none;
    };
    @include media(tab) {
        display: inline;
    };
    @include media(sp) {
        display: inline;
    };

    &__menu {
        @include media(pc) {
            display: none;
        };
        @include media(tab) {
            display: inline;
        };
        @include media(sp) {
            display: inline;
        };

        background: #fff6e6;
        z-index: 4;

        &_close {
            padding-left: 300px;
        }

        &_element {
            @extend %base;
            width: 220px;
            height: 60px;
            background: white;
            border: #653f36 1px solid;
            border-radius: 9px;
            margin-bottom: 21px;
        }
    }

    &__menu.passive {
        @extend %base;

        position: fixed;
        top: -600px;
    }
    &__menu.active {
        @extend %base;

        top: 0px;
        position: fixed;
        animation   : hamAnime 0.5s linear 1;

        @keyframes hamAnime {
            0% { transform: translateY(-200%)}
          100% { transform: translateY(0%)}
        }
    
    }
}

main {

    @include media(pc) {
        width: 1366px;
        height: 647px;
    };
    @include media(tab) {
        width: 414px;
        height: 583px;
    };
    @include media(sp) {
        width: 320px;
    };

    overflow: hidden;

}
.mainvisual1 {
    position: relative;
    left: 0px;
    top: 0px;

    text-overflow: clip;
    white-space: nowrap;    
    animation   : scrollAnime1 10s ease infinite;


    &_img {
        position: relative;
        z-index: 2;
        object-fit: cover;
        object-position: left;

        @include media(pc) {
            height: 450px;
            width: 570px;
        };
        @include media(tab) {
            top: 200px;
            width: 340px;
        };
        @include media(sp) {
            width: 300px;
        };
    
    }
    &_textimg {
        position: relative;
        z-index: 1;
        left: -100px;
        object-fit: cover;
        object-position: left;

        @include media(pc) {
            height: 392px;
            width: 392px;
        };
        @include media(tab) {
            top: 0px;
            left: -320px;
            width: 300px;
        };
        @include media(sp) {
            top: 0px;
            left: -300px;
            width: 300px;
        };

    }
    &_text {
        position: relative;
        z-index: 2;
        writing-mode: vertical-rl;
        object-fit: cover;
        object-position: left;
        height: 420px;
        width: 200px;

        @include media(pc) {
            font-size: 48px;
            left: 500px;
            top: -300px;
        };
        @include media(tab) {
            font-size: 40px;
            left: 0px;
            top: -250px;    
        };
        @include media(sp) {
            font-size: 40px;
            left: 0px;
            top: -250px;    
        };
    }

    @include media(pc) {
        @keyframes scrollAnime1{
            0% { transform: translateX(100%)}
           13% { transform: translateX(100%)}
           25% { transform: translateX(30%)}
           65% { transform: translateX(30%)}
           77% { transform: translateX(-100%)}
          100% { transform: translateX(-100%)}
        }
    };
    @include media(tab) {
        @keyframes scrollAnime1{
            0% { transform: translateX(100%)}
           13% { transform: translateX(100%)}
           25% { transform: translateX(10%)}
           65% { transform: translateX(10%)}
           77% { transform: translateX(-100%)}
          100% { transform: translateX(-100%)}
        }
    };
    @include media(sp) {
        @keyframes scrollAnime1{
            0% { transform: translateX(100%)}
           13% { transform: translateX(100%)}
           25% { transform: translateX(5%)}
           65% { transform: translateX(5%)}
           77% { transform: translateX(-100%)}
          100% { transform: translateX(-100%)}
        }
    };



}

.mainvisual2 {
    position: relative;
    left: 0px;

    text-overflow: clip;
    white-space: nowrap;    
    animation   : scrollAnime2 10s ease infinite;


    &_img {
        position: relative;
        z-index: 2;
        object-fit: cover;
        object-position: left;
        @include media(pc) {
            top: -850px;
            height: 450px;
            width: 570px;
        };
        @include media(tab) {
            top: -530px;
            width: 340px;
        };
        @include media(sp) {
            top: -550px;
            width: 300px;
        };
    }
    &_textimg {
        position: relative;
        z-index: 1;
        object-fit: cover;
        object-position: left;
        @include media(pc) {
            left: -100px;
            top: -900px;
            height: 392px;
            width: 392px;
        };
        @include media(tab) {
            top: -730px;
            left: -330px;
            width: 300px;
        };
        @include media(sp) {
            top: -730px;
            left: -330px;
            width: 300px;
        };
    }
    &_text {
        position: relative;
        z-index: 2;
        writing-mode: vertical-rl;
        object-fit: cover;
        object-position: left;

        @include media(pc) {
            font-size: 48px;
            left: 500px;
            top: -1200px;
            height: 420px;
            width: 200px;
        };
        @include media(tab) {
            font-size: 40px;
            left: 60px;
            top: -980px;    
        };
        @include media(sp) {
            font-size: 40px;
            left: 60px;
            top: -980px;    
        };

    }

    @include media(pc) {
        @keyframes scrollAnime2{
            0% { transform: translateX(30%)}
           12% { transform: translateX(30%)}
           25% { transform: translateX(-100%)}
           26% { transform: translateY( 200%)}
           27% { transform: translate(100%, 200%)}
           28% { transform: translate(100%, 0%)}
           65% { transform: translate(100%, 0%)}
           78% { transform: translateX(30%)}
          100% { transform: translateX(30%)}
        }
    };
    @include media(tab) {
        @keyframes scrollAnime2{
            0% { transform: translateX(10%)}
           12% { transform: translateX(10%)}
           25% { transform: translateX(-100%)}
           26% { transform: translateY( 200%)}
           27% { transform: translate(100%, 200%)}
           28% { transform: translate(100%, 0%)}
           65% { transform: translate(100%, 0%)}
           78% { transform: translateX(10%)}
          100% { transform: translateX(10%)}
        }
    };
    @include media(sp) {
        @keyframes scrollAnime2{
            0% { transform: translateX(5%)}
           12% { transform: translateX(5%)}
           25% { transform: translateX(-100%)}
           26% { transform: translateY( 200%)}
           27% { transform: translate(100%, 200%)}
           28% { transform: translate(100%, 0%)}
           65% { transform: translate(100%, 0%)}
           78% { transform: translateX(5%)}
          100% { transform: translateX(5%)}
        }
    };

}

.logo {
    @include media(pc) {
        width: 423px;
    };
    @include media(tab) {
        width: 211px;
        height: 31px;
    };
    @include media(sp) {
        width: 140px;
        height: 20px;
    };
}

.contact {
    @include media(pc) {
        display: inline;
    };
    @include media(tab) {
        display: none;
    };
    @include media(sp) {
        display: none;
    };

}

.menu {
    &__element {
        @extend %base;
        margin: 5px;
        padding-left: 5px;
        border-left: #653f36 1px solid;
    }

    &__element:last-child {
        padding-right: 5px;
        border-right: #653f36 1px solid;
    }

    @include media(pc) {
        display: flex;
    };
    @include media(tab) {
        display: none;
    };
    @include media(sp) {
        display: none;
    };
    
}

.nav {
    display: flex;
}

.footer {
    @extend %base;

    @include media(pc) {
        width: 1366px;
        height: 400px;
        background-image: url("./img/footer/background.png");

        &__wrap {
            padding-top: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    };
    @include media(tab) {
        width: 414px;
        background-image: url("./img/footer/background.png");
    };
    @include media(sp) {
        width: 320px;
        background-image: url("./img/footer/background.png");
    };

    &__privacypolicy {
        padding-top: 50px;
    }
    &__copyright {
        @extend %base;
        position: relative;
        width: 100%;
        background: #653f36;
        color: white;
    }
}

.article {
    @include media(pc) {
        width: 1366px;
    };
    @include media(tab) {
        width: 414px;
    };
    @include media(sp) {
        width: 320px;
    };

    &__h2 {
        @extend %base;

        @include media(pc) {
            width: 1366px;
        };
        @include media(tab) {
            width: 414px;
        };
        @include media(sp) {
            width: 320px;
        };
    
        color: #653f36;
        font-size: 25px;
    }
    &__section {
        &_h3 {
            color: #653f36;
            font-size: 25px;
        }
        &_p {
            width: 300px;
            height: 200px;
        }
        &_text1 {
            position: relative;

            @include media(pc) {
                left: 0px;
                top: -300px;
            };
            @include media(tab) {
                left: -200px;
                top: -300px;
                width: 350px;
            };
            @include media(sp) {
            };
    
        }
        &_text2 {
            position: relative;

            @include media(pc) {
                left: 0px;
                top: -300px;
            };
            @include media(tab) {
                left: -200px;
                top: -300px;
                width: 350px;
            };
            @include media(sp) {
            };


        }
        &_text3 {
            position: relative;

            @include media(pc) {
                left: 0px;
                top: -300px;
            };
            @include media(tab) {
                left: 0px;
                top: -300px;
                width: 350px;
            };
            @include media(sp) {
            };

        }
        &_text4 {
            position: relative;
            left: 0px;
            top: -300px;
        }

        &_img1 {
            position: relative;
            @include media(pc) {
                left: -330px;
            };
            @include media(tab) {
                left: -330px;
                top: 200px;
                width: 310px;
            };
            @include media(sp) {
            };
        }
        &_img2 {
            position: relative;

            @include media(pc) {
                left: 1366px;
            };
            @include media(tab) {
                left: 414px;
                top: 200px;
                width: 310px;
            };
            @include media(sp) {
            };
        }
        &_img3 {
            position: relative;
            @include media(pc) {
                left: 0px;
            };
            @include media(tab) {
                left: 0px;
                top: 200px;
                width: 310px;
            };
            @include media(sp) {
            };
        }
        &_img4 {
            position: relative;
            @include media(pc) {
                left: 1366px;
            };
            @include media(tab) {
                left: 414px;
                top: 200px;
                width: 310px;
            };
            @include media(sp) {
            };


        }
    }

    &__section1 {
        @include media(pc) {
            width: 1366px;
            height: 500px;
        };
        @include media(tab) {
            width: 414px;
        };
        @include media(sp) {
            width: 320px;
        };
        overflow: hidden;
        object-fit: cover;
        object-position: left;
    }
    &__section2 {
        @include media(pc) {
            width: 1366px;
            height: 500px;
        };
        @include media(tab) {
            width: 414px;
        };
        @include media(sp) {
            width: 320px;
        };
        overflow: hidden;
        object-fit: cover;
        object-position: right;
    }
    &__section3 {
        @include media(pc) {
            width: 1366px;
            height: 500px;
        };
        @include media(tab) {
            width: 414px;
        };
        @include media(sp) {
            width: 320px;
        };
        overflow: hidden;
        object-fit: cover;
        object-position: left;
    }

    &__section4 {
        @include media(pc) {
            width: 1366px;
            height: 500px;
        };
        @include media(tab) {
            width: 414px;
        };
        @include media(sp) {
            width: 320px;
        };
        overflow: hidden;
        object-fit: cover;
        object-position: right;
    }

    &__news {
        &_ul {
            @extend %base;
            @include media(pc) {
                width: 1366px;
            };
            @include media(tab) {
                width: 414px;
            };
            @include media(sp) {
                width: 320px;
            };
            list-style: none;                
        }
        &_li {
            border-top: #fff6e6 1px solid;
            width: 600px;
            padding: 20px;
        }
        &_h3 {
            font-size: 20px;
            color: #653f36;
        }
    }
}

.header {
    @extend %base;

    @include media(pc) {
        width: 1366px;
        background-image: url("./img/header/background.png");
    };
    @include media(tab) {
        width: 414px;
        background-image: url("./img/sp/background.png");
    };
    @include media(sp) {
        width: 320px;
        background-image: url("./img/sp/background.png");
    };
}

body {
    @extend %base;
    margin: 0px;
    width: 100%;

    @include media(pc) {
      background-color: white;
    };
    @include media(tab) {
      background-color: white;
    };
    @include media(sp) {
      background-color: white;
    };
}